@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Josefin+Sans|Pacifico');

h1 { 
   font-family: 'Amatic SC', cursive;
   margin: 0 auto;
   font-size: 100px;
}

h2, h3 { 
   font-family: 'Amatic SC', cursive;
   margin: 0 auto;

h4, h5 {
    font-family: 'Josefin Sans', sans-serif;
    width: 960px;
    margin: 0 auto;
    text-align: center;
}

body {
    font-family: 'Josefin Sans', sans-serif;
    width: 960px;
    margin: 0 auto;
}

.intro {
    width: 960px;
    margin: 0 auto;
}

.span {
    width: 960px;
    margin: 0 auto;
}