@import url('https://fonts.googleapis.com/css?family=Advent+Pro|Chelsea+Market|Fredericka+the+Great|Love+Ya+Like+A+Sister|Monoton|Amatic+SC');


h1, h2, h3 {
    font-family: 'Amatic SC', cursive;
    color: black
}

p, li {
    font-family: 'Advent Pro', serif;
    color: #100D14
}

body {
    background: url('../images/abstract-mosaic-background.png')
    no-repeat center center fixed
}

.wrapper {
    width: 960px;
    margin: 0 auto;
}

header, footer {
    background-color: #595959;
    text-align: center;
    padding: 15px 30px;
}

.main-content {
    background-color: #808F85;
    padding: 10px 0;
    border-top: 2px solid #CFD11a;
}

header img {
    width: 50%;
    border-radius: 55px;
}

.main-content ul {
    list-style-type: none;
    padding-left: 0;
    margin: 0 auto;
    text-align: center;
}

.main-content ul li {
    padding: 10px;
    display: inline;
}
a {
    color: #cfd11a;
    text-decoration: none; 
    font-family: 'Chelsea Market', cursive;
}

.main-content p {
    margin: 10px 40px;

}

.main-content h2 {
    text-align: center;
}

#projects {
    background-color: #595959;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.project {
    width: 30%;
    display: inline-block;
    background-color: #F2E9dc;
    margin: 1.66%;
    border-radius: 15px;
    float: left;
}

.project img {
    max-width: 100%;
}