header img {
    width: 50%;
    border-radius: 55px;
}

.main-content ul {
    list-style-type: none;
    padding-left: 0;
    margin: 0 auto;
    text-align: center;
}

.main-content ul li {
    padding: 10px;
    display: inline;
}
a {
    color: #cfd11a;
    text-decoration: none; 
    font-family: 'Chelsea Market', cursive;
}

.main-content p {
    margin: 10px 40px;

}

.main-content h2 {
    text-align: center;
}

#projects {
    background-color: #595959;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.project {
    width: 30%;
    display: inline-block;
    background-color: #F2E9dc;
    margin: 1.66%;
    border-radius: 15px;
    float: left;
}

.project img {
    max-width: 100%;
}